.KeyForm-formCss {
    margin-bottom: 5px;
}
.KeyForm-inputCSS {
    background: transparent;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
    outline:none;
}
.KeyForm-helpersCSS1 {
    width: 180px;
}
.KeyForm-buttonCSS {
    margin-right: 15px;
    border: 1px solid #00a7ff;
    border-radius: 3px;
    padding: 3px 15px;
    color: #ffffff;
    outline:none;
    background: #00a7ff;
    font-size: 1.4rem;
}
.KeyForm-buttonCSS:hover{
    cursor: pointer;
    transform: scale(0.97);
}
.KeyForm-helper{
    width:180px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin-right: 15px;
}
