/*tab  start*/
.TabControl-sideContainer {
    width: 150px;
    height: 100%;
    float: left;
    display: inline-block;
    border-right: 1px solid #d8d8d8;
    background: #eceff2;
    color: #999da6;
}
.TabControl-contentContainer {
    padding: 10px 0 10px 10px;
    float: left;
}
.TabControl-contentContainer:after {
    clear: both;
}
.TabControl-sideContainer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.TabControl-sideContainer ul li {
    padding: 0;
    margin: 0;
    color: #3d4048;
    text-indent: 20px;
    position: relative;
    overflow: hidden;
}
.TabControl-sideContainer ul li span {
    text-align: center;
    line-height: 35px;
}
.TabControl-sideContainer >ul >li {
    border-bottom: 1px solid #d8d8d8;
}
.TabControl-sideContainer >ul >li:last-child {
    border-bottom:0;
}
.TabControl-sideContainer >ul >li:hover{
    background-color: #6bccff;
}
.TabControl-sideContainer ul li:hover {
    cursor: pointer;
}
.TabControl-sideContainer >ul >li >ul li{
    background-color: #eceff2;
    border-bottom:0;
    text-indent: 30px;
    border-left: 6px solid #eceff2;
}
.TabControl-sideContainer >ul >li >ul li:hover {
    border-left: 6px solid #6bccff;
}
.TabControl-sideContainer >ul >li >ul li:last-child{
    padding-bottom: 0;
}
.TabControl-tab-content-item{
    width: 100%;
    height: 100%;
    display: none;
}
.TabControl-tab-content-item >div {
    width: 100%;
    height: 100%;
}
.TabControl-active{
    display: block;
}
ul >li.TabControl-active {
    opacity: 0.8;
    background-color: #6bccff;
}
ul >li >ul li.TabControl-active {
    opacity: 0.8;
    background-color: #ebeff3;
    border-left: 6px solid #ebeff3;
}
.TabControl-openChild {
    position: absolute;
    right: 0;
    background: url('../../img/open.png') no-repeat center;
    background-size: 10px 10px;
}
.TabControl-openChildActive {
    transform: rotate(45deg);
}
.TabControl-height100 {
    height: 100%;
}
.TabControl-width100{
    width: 100%;
}
.TabControl-close {
    display: none;
}
/*波纹效果*/
@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}
.TabControl-sideContainer ul li span.ripple {
    position: absolute;
    background: rgba(255,255,255,.4);
    border-radius: 100%;
    transform: scale(0);
    width: 100px;
    height: 100px;
    pointer-events: none;
    animation: ripple 0.45s ease-out;
}

/*tab end*/
