@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

@keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4); }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); } }

.ball-spin-fade-loader {
    position: relative;
    top: 45%;
    left: 45%;
    width: 100%;
    height: 100%;
}
.ball-spin-fade-loader > div:nth-child(1) {
    top: 25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s -0.96s infinite linear;
    animation: ball-spin-fade-loader 1s -0.96s infinite linear; }
.ball-spin-fade-loader > div:nth-child(2) {
    top: 17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.84s infinite linear;
    animation: ball-spin-fade-loader 1s -0.84s infinite linear; }
.ball-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation: ball-spin-fade-loader 1s -0.72s infinite linear;
    animation: ball-spin-fade-loader 1s -0.72s infinite linear; }
.ball-spin-fade-loader > div:nth-child(4) {
    top: -17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.6s infinite linear;
    animation: ball-spin-fade-loader 1s -0.6s infinite linear; }
.ball-spin-fade-loader > div:nth-child(5) {
    top: -25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s -0.48s infinite linear;
    animation: ball-spin-fade-loader 1s -0.48s infinite linear; }
.ball-spin-fade-loader > div:nth-child(6) {
    top: -17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.36s infinite linear;
    animation: ball-spin-fade-loader 1s -0.36s infinite linear; }
.ball-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation: ball-spin-fade-loader 1s -0.24s infinite linear;
    animation: ball-spin-fade-loader 1s -0.24s infinite linear; }
.ball-spin-fade-loader > div:nth-child(8) {
    top: 17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s -0.12s infinite linear;
    animation: ball-spin-fade-loader 1s -0.12s infinite linear; }
.ball-spin-fade-loader > div {
    background-color: rgb(23,49,99);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute; }
/*动画css结束*/
.WaitAnimation-task {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border:0;
}
.WaitAnimation-taskTitle {
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #000;
    background: #ebeff3;
}
.WaitAnimation-parentTitle{
    color: #999da6;
}
.WaitAnimation-parentTitle:hover{
  cursor: pointer;
}
.WaitAnimation-taskCon {
    width: 400px;
    height: 400px;
}
.WaitAnimation-buttonCSS {
    margin-right: 15px;
    border: 1px solid #00a7ff;
    border-radius: 3px;
    padding: 3px 15px;
    color: #ffffff;
    outline:none;
    background: #00a7ff;
    font-size: 1.4rem;
}
.WaitAnimation-buttonCSS:hover{
    cursor: pointer;
    /*background: #3975cc;*/
    /*border: 1px solid #3975cc;*/
    transform: scale(0.97);
}
.WaitAnimation-none-box {
    display: none;
}
.WaitAnimation-backBtn {
    position: relative;
    margin-left: 10px;
}
#addCode{
    width: 200px;
    height: 200px;
    margin: 10px 0 10px 0;
}
.WaitAnimation-addImg{
    width: 200px;
    height: 200px;
}
.WaitAnimation-red {
    color: #ff0000;
    margin: 5px 0 0 10px;
}
