.WebHead-title {
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    color: #ffffff;
    margin-left: -40px;
}
.WebHead-logo {
    display: inline-block;
    position: relative;
    top: -16px;
    left: -15px;
    width: 120px;
    height: 50px;
    background: url('../../img/gemiiLogo.png') no-repeat left;
    background-size: 120px;
}
.WebHead-out {
    display: inline-block;
    float: right;
    width: 30px;
    height: 50px;
    background: url('../../img/out.png') no-repeat left;
    background-size: 20px;
}
.WebHead-out:active {
    background-size: 19px;
}
.WebHead-headerContainer {
    width: 100%;
    height: 50px;
    background: #17a1e5;
    border-bottom: 1px solid #a1a1a1;
}
