.pt-pagecom {
    /*分页栏绝对定位在底部*/
    /*position: absolute;*/
    /*bottom: 5px;*/
    /*分页栏在表格底部 start*/
    position: relative;
    top: 20px;
    /*分页栏在表格底部 end*/
    left: 0;
    width: 100%;
}
.pt-pageInfo {
    display: inline;
    /*分页栏绝对定位在底部*/
    /*position: absolute;*/
    /*bottom: 5px;*/
    /*分页栏在表格底部 start*/
    position: relative;
    /*分页栏在表格底部 end*/
    left: 10px;
    font-size: 1rem;
}
.pt-pageToggle {
    position: absolute;
    bottom: 5px;
    /*right: 10px;*/
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.pt-pageToggle:after{
    clear:both;
}
.pt-pageButton {
    padding: 2px;
    border: 1px solid #95adc3;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding-left: 8px;
    padding-right: 8px;
}
.pt-pageButton:hover {
    background-color: #eceff2;
    cursor: pointer;
}
.pt-pageButton.pt-selected {
    background-color: #d0d4d7;
}
.pt-none-box {
    display: none;
}
