/*taskmanagement  start*/
.Content-task {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #d8d8d8;
    background: #ffffff;
}
.Content-taskTitle {
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    font-size: 1.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #000;
    background: #ebeff3;
}
.taskDetails {
     position: absolute;
     top: 0;
     left: 0;
     z-index: 99;
     background: #ffffff;
 }
.Content-taskCon {
    padding: 10px 10px 0 10px;
    overflow: auto;
}
/*taskmanagement end*/
