.HelperForm-formCss {
    margin-bottom: 5px;
}
.HelperForm-inputCSS {
    background: transparent;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
    outline:none;
}
.HelperForm-helpersCSS1 {
    width: 270px;
}
.HelperForm-buttonCSS {
    margin-right: 15px;
    border: 1px solid #00a7ff;
    border-radius: 3px;
    padding: 3px 15px;
    color: #ffffff;
    outline:none;
    background: #00a7ff;
    font-size: 1.4rem;
}
.HelperForm-buttonCSS:hover{
    cursor: pointer;
    /*background: #3975cc;*/
    /*border: 1px solid #3975cc;*/
    transform: scale(0.97);
}
.HelperForm-selectCSS {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    display: inline-block;
    width: 160px;
    height: 26px;
    padding: 3px 14px 3px 5px;
    background: url('../../img/down.png') no-repeat;
    background-position: 140px 9px;
    background-size: 10px 7px;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #000000;
    outline:none;
}
.HelperForm-taskDetails{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #ffffff;
    width: 100%;
    height: 100%;
}
.HelperForm-h5A{
    color: #00a7ff;
}
.HelperForm-h5A:hover{
    cursor: pointer;
    text-decoration: underline;
}
