.InForm-formCss {
    margin-bottom: 5px;
}
.InForm-inputCSS {
    background: transparent;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
    outline:none;
}
.InForm-helpersCSS2 {
    width: 400px;
}
.InForm-buttonCSS {
    margin-right: 15px;
    border: 1px solid #00a7ff;
    border-radius: 3px;
    padding: 3px 15px;
    color: #ffffff;
    outline:none;
    background: #00a7ff;
    font-size: 1.4rem;
}
.InForm-buttonCSS:hover{
    cursor: pointer;
    transform: scale(0.97);
}
.InForm-helper{
    width:200px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin-right: 15px;
}
