.UpEnterForm-formCss {
    margin-bottom: 5px;
}
.UpEnterForm-inputCSS {
    background: transparent;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 5px;
    color: #000000;
    outline:none;
}
.UpEnterForm-hpCSS1 {
    width: 170px;
}
.UpEnterForm-buttonCSS {
    margin-right: 15px;
    border: 1px solid #00a7ff;
    border-radius: 3px;
    padding: 3px 15px;
    color: #ffffff;
    outline:none;
    background: #00a7ff;
    font-size: 1.4rem;
}
.UpEnterForm-buttonCSS:hover{
    cursor: pointer;
    /*background: #3975cc;*/
    /*border: 1px solid #3975cc;*/
    transform: scale(0.97);
}
.UpEnterForm-selectCSS {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    display: inline-block;
    width: 150px;
    height: 26px;
    padding: 3px 14px 3px 5px;
    background: url('../../img/down.png') no-repeat;
    background-position: 130px 9px;
    background-size: 10px 7px;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    color: #000000;
    outline:none;
}
.UpEnterForm-tableLayoutUp{
    /*width: 1200px;*/
    table-layout:fixed;
}
.Table-taskTable tbody .UpEnterForm-tdCSS{
    padding: 0 8px;
}
.UpEnterForm-textOverflow >td{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.UpEnterForm-enterSelectCSS{
    width: 100%;
    background-position: 65px 9px;
}
.UpEnterForm-addBTn{
    background: #5cb85c;
    border: 1px solid #5cb85c;
}
.UpEnterForm-width0 {
    width: 155px;
}
.UpEnterForm-width1 {
    width: 170px;
    background-position: 150px 9px;
}
.UpEnterForm-width2 {
    width: 93%;
}
.UpEnterForm-datainp{
    width: 90%;
}
.UpEnterForm-width3{
    width:90px;
    background-position: 70px 9px;
}
.UpEnterForm-helper{
    width:180px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    margin-right: 15px;
}
.UpEnterForm-h5A{
    margin-right: 10px;
    color: #00a7ff;
}
.UpEnterForm-h5A:hover{
    cursor: pointer;
    text-decoration: underline;
}
